@import url("https://fonts.googleapis.com/css?family=Rubik:300");

html, body {
  background: radial-gradient(#057c54 0, #19232d 100%);
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}

